<div
	class="umb-property-editor umb-prevalues-multivalues themepicker-prevalue"
	ng-controller="Yoyo.ThemePickerConfigController"
>
	<div class="control-group umb-prevalues-multivalues__add">
		<div class="umb-prevalues-multivalues__left themepicker-prevalue__add">
			<div
				class="umb-property-editor umb-contentpicker themepicker-prevalue__imageselect"
			>
				<div class="umb-outline" ng-if="selectedTheme.image !== null">
					<img
						class="themepicker-prevalue__image"
						ng-src="{{selectedTheme.image}}"
						alt=""
					/>
					<div class="__control-actions">
						<button
							type="button"
							class="btn-reset __control-actions-btn umb-outline"
							ng-click="selectImage()"
						>
							<umb-icon
								icon="icon-edit"
								class="icon icon-edit"
							></umb-icon>
						</button>
					</div>
				</div>

				<button
					ng-if="selectedTheme.image === null"
					type="button"
					class="btn-reset umb-node-preview-add umb-outline"
					ng-click="selectImage()"
					prevent-default
				>
					<localize key="general_add">Add image</localize>
				</button>
			</div>

			<input
				overlay-submit-on-enter="false"
				name="selectedTheme"
				focus-when="{{focusOnNew}}"
				ng-keydown="createNew($event)"
				type="text"
				ng-model="selectedTheme.label"
				val-highlight="{{hasError}}"
			/>
		</div>
		<div class="umb-prevalues-multivalues__right">
			<button
				type="button"
				class="btn btn-info"
				ng-click="add($event)"
				ng-disabled="selectedTheme.image.length === 0 || (!selectedTheme.label || selectedTheme.label.length === 0)"
			>
				<localize key="general_add">Add</localize>
			</button>
		</div>
	</div>
	<div
		ui-sortable="sortableOptions"
		class="ui-sortable"
		ng-model="model.value"
	>
		<div
			class="control-group umb-prevalues-multivalues__listitem"
			ng-repeat="item in model.value"
		>
			<umb-icon
				icon="icon-navigation"
				class="icon icon-navigation handle ui-sortable-handle"
				aria-hidden="true"
			></umb-icon>
			<div
				class="umb-prevalues-multivalues__left themepicker-prevalue__add"
			>
				<div class="umb-outline themepicker-prevalue__imageselect">
					<img
						class="themepicker-prevalue__image"
						ng-src="{{item.value.image}}"
						alt=""
					/>
					<div class="__control-actions">
						<button
							type="button"
							class="btn-reset __control-actions-btn --remove umb-outline"
							ng-click="selectImage($index)"
						>
							<umb-icon
								icon="icon-edit"
								class="icon icon-edit"
							></umb-icon>
						</button>
					</div>
				</div>
				<input
					type="text"
					ng-model="item.value.label"
					val-server="item_{{$index}}"
					required
				/>
			</div>
			<div class="umb-prevalues-multivalues__right">
				<button
					class="umb-node-preview__action umb-node-preview__action--red"
					ng-click="remove(item, $event)"
				>
					<localize key="general_remove">Remove</localize>
				</button>
			</div>
		</div>
	</div>
</div>
