<div ng-controller="Yoyo.ThemePicker">
   <ul class="themepicker">
		<li class="themepicker__item" ng-repeat="theme in themes">
			<button
				class="umb-color-box themepicker__theme btn-reset"
				ng-class="{'themepicker__theme--selected' : theme.value.label === model.value}"
				ng-click="selectTheme(theme.value)"
				type="button">
				<span class="themepicker__label">
					{{theme.value.label}}
					<span class="themepicker__check icon-check" ng-if="theme.value.label === model.value"></span>
				</span>
				<img class="themepicker__image" ng-src="{{theme.thumbnail}}" alt="" />
			</button>
		</li>
   </ul>
</div>